* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: #ffc0bb;
  min-height: 100vh;
  border: 1px solid #ffc0bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-container {
  background-color: #ffffff;
  max-width: 600px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
}

.emoji-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-you-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.love-image {
  height: 50px;
  width: 50px;
}

.title {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
}

.descreption {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
}
